input, textarea {outline:none;}
input:active, textarea:active {outline:none;}
button {outline: none;}
button:active {outline: none;}
a {
    text-decoration: none;
    color:#FFFFFF;
}
h1 {
    position: absolute;
    width: 1920px;
    height: 122px;
    left: 0px;
    top: 0px;
    margin-top: 0%;
    background: #2B2B2B;
    }
    img {
    /* Логотип */
    
    position: absolute;
    width: 111px;
    height: 104px;
    left: 30px;
    top: 10px;
    
    background: #2B2B2B;
    }
    p1 {
    /*Студенту*/
    position: absolute;
    width: 158px;
    height: 59px;
    left: 244px;
    top: 40px;

    font-family: Timmana;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 59px;
    


    color: #FFFFFF;

    }
    p2{
    /* Абитуриенту */
    
    position: absolute;
    width: 228px;
    height: 59px;
    left: 512px;
    top: 40px;

    font-family: Timmana;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 59px;

    color: #FFFFFF;
    }
    p3 {
    /* О нас */
    
    position: absolute;
    width: 101px;
    height: 59px;
    left: 850px;
    top: 40px;

    font-family: Timmana;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 59px;

    color: #FFFFFF;
    
    }

    p4 {
    /* Авторизация */
    
    position: absolute;
    width: 232px;
    height: 59px;
    left: 1061px;
    top: 40px;

    font-family: Timmana;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 59px;

    color: #FFFFFF;
    }

    button {
        /*поиск */
    position: absolute;
    width: 77px;
    height: 62px;
    left: 350px;
    top: 0px;

    background-image: url(Images/search.png);
    border:#2B2B2B;
    }
    
    form {

    position: absolute;
    width: 314px;
    height: 62px;
    left: 1400px;
    top: 30px;
    }

    input {

    position: absolute;
    width: 314px;
    height: 62px;

    font-family: Timmana;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 59px;

    background: #FFFFFF;
    border-radius: 30px;
    }

    h2 {

    position: absolute;
    width: 1920px;
    height: 852px;
    left: 0px;
    top: 122px;
    margin-top: 0px;

    background: #FFFFFF;
    }
    p6 {
    /* Background */

    position: absolute;
    width: 1838px;
    height: 850px;
    left: 41px;
    top: 15px;

    background: url(Images/Background.jpg);
    border-radius: 22px;
    }

    p7 {
    /* Castle */

    position: absolute;
    width: 450px;
    height: 270px;
    left: 97px;
    top: 98px;

    background: url(Images/Castle.png);
    border-radius: 22px;
    
    }
    p8{

    position: absolute;
    width: 355px;
    height: 268px;
    left: 587px;
    top: 100px;

    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 44px;

    color: #000000;

    mix-blend-mode: normal;
    }

    p9{
    /* NASA */

    position: absolute;
    width: 450px;
    height: 270px;
    left: 997px;
    top: 98px;

    background: url(images/NASA.png);
    border-radius: 22px;
    }
    p10{
    /* NASA подписали договор о сотрудничестве с ЮФУ. */

    position: absolute;
    width: 355px;
    height: 268px;
    left: 1487px;
    top: 100px;

    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 44px;

    color: #000000;

    mix-blend-mode: normal;
    }

    p11{
        /* Elon */

    position: absolute;
    width: 450px;
    height: 270px;
    left: 97px;
    top: 493px;

    background: url(images/Elon.png);
    border-radius: 22px;

    }
    p12{
       /* NASA подписали договор о сотрудничестве с ЮФУ. */

    position: absolute;
    width: 355px;
    height: 268px;
    left: 587px;
    top: 503px;

    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 44px;

    color: #000000;

    mix-blend-mode: normal;
    }

    p13{
        /* Nano */

    position: absolute;
    width: 450px;
    height: 270px;
    left: 997px;
    top: 493px;

    background: url(images/Nano.png);
    border-radius: 22px;

    }
    p14{
       /* ЮФУ стал самым прорывным вузом в мире в сфере нано технологий! */

    position: absolute;
    width: 355px;
    height: 268px;
    left: 1487px;
    top: 503px;

    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 44px;

    color: #000000;

    mix-blend-mode: normal;
    }
