input, textarea {outline:none;}
input:active, textarea:active {outline:none;}
button {outline: none;}
button:active {outline: none;}
a {
    text-decoration: none;
    color:#FFFFFF;
}
h1 {
    position: absolute;
    width: 1920px;
    height: 122px;
    left: 0px;
    top: 0px;
    margin-top: 0%;
    background: #2B2B2B;
    }
    img {
    /* Логотип */
    
    position: absolute;
    width: 111px;
    height: 104px;
    left: 30px;
    top: 10px;
    
    background: #2B2B2B;
    }
    p1 {
    /*Студенту*/
    position: absolute;
    width: 158px;
    height: 59px;
    left: 244px;
    top: 40px;

    font-family: Timmana;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 59px;
    


    color: #FFFFFF;

    }
    p2{
    /* Абитуриенту */
    
    position: absolute;
    width: 228px;
    height: 59px;
    left: 512px;
    top: 40px;

    font-family: Timmana;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 59px;

    color: #FFFFFF;
    }
    p3 {
    /* О нас */
    
    position: absolute;
    width: 101px;
    height: 59px;
    left: 850px;
    top: 40px;

    font-family: Timmana;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 59px;

    color: #FFFFFF;
    
    }

    p4 {
    /* Авторизация */
    
    position: absolute;
    width: 232px;
    height: 59px;
    left: 1061px;
    top: 40px;

    font-family: Timmana;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 59px;

    color: #FFFFFF;
    }

    .form_search button {
        /*поиск */
    position: absolute;
    width: 77px;
    height: 62px;
    left: 350px;
    top: 0px;

    background-image: url(Images/search.png);
    border:#2B2B2B;
    }

    .form_search {
        position: absolute;
        width: 314px;
        height: 62px;
        left: 1400px;
        top: 30px;
    }
    
    .form_search input {

    position: absolute;
    width: 314px;
    height: 62px;

    
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 59px;

    background: #FFFFFF;
    border-radius: 30px;
    }

    h2 {

    position: absolute;
    width: 1920px;
    height: 852px;
    left: 0px;
    top: 150px;
    margin-top: 0px;

    background: #FFFFFF;
    }

    t1{
    /* Расписание занятий */

    position: absolute;
    width: 621px;
    height: 85px;
    left: 45px;
    top: 137px;

    font-family: Playfair Display;
    font-style: normal;
    font-weight: normal;
    font-size: 64px;
    line-height: 85px;

    color: #000000;
    }
    t2{
    /* Введите название группы, ФИО преподавателя или номер аудитории */

    position: absolute;
    width: 621px;
    height: 85px;
    left: 45px;
    top: 262px;

    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 44px;

    color: #000000;
    }

    .form_sch input {

    position: absolute;
    width: 376px;
    height: 49px;
    left: 666px;
    top: 300px;

    font-size:x-large;

    background: #D5D5D5;
    border-radius: 30px;
        
    }
    .form_sch button {

    position: absolute;
    width: 190px;
    height: 49px;
    left: 1102px;
    top: 300px;

    font-size: x-large;

    background: #0071E3;
    border-radius: 30px;
    }
    t3{
    /* Успеваемость */

    position: absolute;
    width: 621px;
    height: 85px;
    left: 45px;
    top: 482px;

    font-family: Playfair Display;
    font-style: normal;
    font-weight: normal;
    font-size: 64px;
    line-height: 85px;

    color: #000000;
    }
    t4{
    /* Введите ФИО и курс */

    position: absolute;
    width: 621px;
    height: 85px;
    left: 45px;
    top: 607px;

    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 44px;

    color: #000000;
    }

    .form_AP input {

        position: absolute;
        width: 376px;
        height: 49px;
        left: 666px;
        top: 600px;

        font-size:x-large;
        
        background: #D5D5D5;
        border-radius: 30px;
    }
    
    .form_AP button {

        position: absolute;
    width: 190px;
    height: 49px;
    left: 1102px;
    top: 600px;

    font-size:x-large;

    background: #0071E3;
    border-radius: 30px;
    }

    t5{
    /* logo 1 */

    position: absolute;
    width: 330px;
    height: 305px;
    left: 1435px;
    top: 233px;

    background: url(Images/logo_1.png);
    }
    